body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4f5596;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App component */

.movie__container {
  background-color: #373b69;
  display: flex;
  flex-wrap: wrap;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #743535;
  padding: 15px;
}

.header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(209, 209, 209);
}
.header a:hover {
  color: rgb(185, 184, 184);
}

/* Movie component */
.movie {
  background-color: #4f5596;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.movie img {
  max-width: 100%;
}

.movie__info {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie__info h3 {
  margin: 0;
}

.movie_likeB {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}

.movie__thumb {
  color: white;
}
.movie__thumbsChange {
  color: blue;
}
.movie__dthumb {
  color: white;
}
.movie__dthumbsChange {
  color: blue;
}

/* Like */

.Like {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Liked Movies */
.LikedMov {
  background-color: #4f5596;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem;
  width: 250px;
}
.LikedMov img {
  max-width: 100%;
}

.LikedMov__info {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.LikedMov__info h3 {
  margin: 0;
}
